@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Structure */
.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 1rem;
}

.cards-holder {
  padding: 1rem;
  border: 1px solid #b8b8b8;
}
