/* Card */
.card {
  position: relative;
  max-width: 200px;
  flex: 0 1 200px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: .3rem;
  margin-right: .3rem;
}

.card__header {
  padding: .5rem 1rem;
}

.card__footer {
  padding: 0 1rem;
}

.card__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease-in-out;
}

.card:hover .card__overlay {
  opacity: 1;
}
